<!DOCTYPE html>
<html>
<head>
    <!-- HTML Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Einbindung CSS (Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Einbindung CSS (main.css) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!--  Font Einbindung -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Default-Titel festlegen -->
    {% if title %}
        <title>Morpheus | {{ title }}</title>
    {% else %}
        <title>Morpheus</title>
    {% endif %}
</head>


<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <!-- Navbar Links (Logo und Portfolio) -->
          <a class="navbar-brand mr-4 logo_text" href="/">
            <img src="{{ url_for('static', filename='logo_icon.svg') }}" alt="logo" class="logo_img"/>Morpheus</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- Menü für angemeldete User -->
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
              <a class="nav-item nav-link" href="/new_position">Neue Position hinzufügen</a>
              <!-- Menü für abgemeldete User -->
              {% else %}
              {% endif %}
            </div>
            <!-- Navbar Rechts (Login und Registrieren) -->
            <div class="navbar-nav">
              <!-- Menü für angemeldete User -->
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Mein Konto</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Abmelden</a>
              <!-- Navbar Rechts (Login und Registrieren) -->
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Anmelden</a>
              <a class="btn btn-primary" href="{{ url_for('register') }}">Registrieren</a>
              {% endif %}
            </div>
          </div>
      </nav>
    </header>
    <main role="main" class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer>
    </footer>


    <!-- JavaScript Einbindung -->
    <!-- jQuery, Popper und Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>