{% extends "layout.html" %}
{% block content %}
<h1>Positionen</h1>
    {% for position in positions %}
    {% if position.author == current_user %}
    <section class="portfolio-single-positions">
	  		<div class="spalten col-12 col-sm-4 col-md-3">
	  			<div class="spalte">
		      <article>
		         	<a href="{{ url_for('position', position_id=position.id) }}"><h2>{{ position.name }}</h2></a>
		         	<table>
		         		<tr>
		         			<td class="td-title">Menge</td>
		         			<td class="td-data">{{ position.amount }} {{ position.symbol }}</td>
		         		</tr>
		         		<tr>
				            <td class="td-title">Wert</td>
				            <td class="td-data">{{ value }} USD</td>
		        		</tr>
		        		<tr>
				            <td class="td-title">Preis</td>
				            <td class="td-data">{{ price }} USD</td>
		        		</tr>
		     	</table>
		     	<small class="text-muted">Zuletzt aktualisiert: {{ position.date_posted.strftime("%d-%m-%Y") }}</small>
		      </article>
		  </div>
		 </div>
		 </section>
		 {% endif %}
    {% endfor %}
{% endblock content %}