{% extends "layout.html" %}
{% block content %}
    {% if position.author == current_user %}
    <section class="portfolio-single-positions">
	  		<div class="spalten col-6">
	  			<div class="spalte">
		      <article>
                <!-- Name und Anzahl anzeigen -->
			         	<h5>{{ position.name }} | {{ position.exchange }}</h5>
		         	<h2>{{ position.amount }}</h2>
		     	<small class="text-muted">Zuletzt aktualisiert: {{ position.date_posted.strftime("%d-%m-%Y") }}</small>
		     	 {% if position.author == current_user %}
		          <div>
                <!-- Ändern der Position (Link zu edit_position)-->
		            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('edit_position', position_id=position.id) }}">Bearbeiten</a>
                <!-- Löschen der Position (Löschen Modal einbinden) -->
		            <button type="button" class="btn btn-outline-info btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Löschen</button>
		          </div>
		        {% endif %}
		      </article>
		  </div>
		 </div>
		 </section>

<!-- Löschen Modal (Bootstrap) -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Position wirklich löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>
          <form action="{{ url_for('delete_position', position_id=position.id) }}" method="POST">
            <input class="btn btn-outline-info" type="submit" value="Löschen">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}