body {
  background: rgb(0, 0, 0);
  background-size: cover;
  color: #ffffff;
  margin-top: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-height: 100vH;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

p {
  font-size: 20px;
  color: rgb(153, 153, 153);
}

a {
  font-size: 20px;
  color: rgb(153, 153, 153);
}

a:hover {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.logo_img {
  margin-left: -20px;
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.logo_text {
  font-weight: 500;
  text-transform: uppercase;
  margin: auto 0 auto 20px;
  letter-spacing: 7px;
}

.navbar {
  background: #000000;
  margin: 0px;
  padding: 30px 30px 30px 30px;
}

.site-header .navbar-nav .nav-link:active {
  color: #00AE99;
}

.content-section {
  max-width: 1200px;
  background: rgb(17, 26, 25);
  padding: 50px 50px 50px 50px;
  border: none;
  margin: 140px auto 30px auto;
  border-radius: 10px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Buttons */

.btn {
}

.btn-primary {
  border: none;
  background: #00AE99;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.btn-primary:hover {
  border: none;
  background: #04BEA8;
  font-size: 20px;
}

.btn a{
  margin: auto 0px;
}


/* Responsive (Mobile) */
@media screen and (max-width: 992px) {
  .content-section {
    padding: 20px 20px 20px 20px;
    border: none;
    margin: 160px 20px 30px 20px;
    }

  .navbar {
    padding: 20px 20px 20px 20px;
    }

  .logo_img {
    height: 25px;
    }
  }