body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #040309;
    font-size: 64px;
}

h2 {
    color: #040309;
    font-size: 50px;
    font: "Arial"
}

h3 {
    color: #040309;
    font-size: 40px;
}

p {
    color: #040309;
    font-size: 22px;
}

a {
    rgba(49, 123, 140, 1);
    font-size: 22px;
}

.container {
    width: 60%;
    margin: auto;
}

.info_box {
    padding: 50px;
    background-color: rgba(49, 123, 140, 1);
    color: #ffffff !important;
}
