html {
    position: relative;
    min-height: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  margin: 100px 0 0 0 !important;
  background: rgb(0, 0, 0);
  background-size: cover;
  color: #ffffff;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

p {
  font-size: 20px;
  color: rgb(153, 153, 153);
}

a {
  font-size: 20px;
  color: rgb(153, 153, 153);
  text-decoration: none;
}

a:hover {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* Header */
.logo_img {
  margin-left: -20px;
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.logo_text {
  font-weight: 500;
  text-transform: uppercase;
  margin: auto 0 auto 20px;
  letter-spacing: 7px;
}

.navbar {
  background: #000000;
  margin: 0px;
  padding: 30px 30px 30px 30px;
  height: 100px;
}

.site-header .navbar-nav .nav-link:active {
  color: #00AE99;
}

.navbar-nav .btn {
  margin-left: 30px;
}

.account-img-small {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}


/* Main */

.content {
  padding: 50px 30px 50px 30px;
  text-decoration: none;
}

.content a {
  text-decoration: none;
}

/* Index */


.intro p{
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Account page */

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/* Footer */

footer {
  width: 100%;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  padding: 40px 30px 30px;
  margin: 50px 0 0 0;
}

/* Section Typen */

/* Main */
.section-main {
    width: 100%;
    margin: 50px auto auto auto;
    height: 100vh;
    align-items: center;
}

/* Formular */

.section-form {
  max-width: 1200px;
  background: rgb(17, 26, 25);
  padding: 30px 30px 30px 30px;
  border: none;
  border-radius: 10px;
}

/* Second (Full-width Hintergrund mit Farbe, Text zentriert) */

.section-second {
  background-color: rgb(17, 26, 25);
  padding: 100px 0 100px 0;
  text-align: center;
  }

.section-second h2 {
  color: #00AE99;
  margin-bottom: 50px;
  }

.section-second p {
  font-size: 27px;
  color: #ffffff;
  margin-bottom: 50px;
  }

.section-second a {
  color: #00AE99;
  }

/* Third (Full-width Hintergrund ohne Farbe) */

.section-third {
  padding: 100px 0 100px 0;
  text-align: center;
  }

.section-third h2 {
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 20px;
  }

.section-third img {
  height: 100px;
  width: auto;
  padding: 20px;
  }

/* Fourth (Full-width Hintergrund mit Farbe, Text linksbündig) */

.section-fourth {
  background-color: rgb(17, 26, 25);
  padding: 100px 30px 100px 30px;
  }

.section-fourth h2 {
  color: #00AE99;
  margin-bottom: 50px;
  }

.section-fourth p {
  font-size: 27px;
  color: #ffffff;
  margin-bottom: 50px;
  }

.section-fourth a {
  color: #00AE99;
  }

/* 2 Spalten */

.section-spalten {
}

.section-spalten img {
  height: 150px;
  width: auto;
  margin-bottom: 25px;
}

.section-spalten h2 {
  font-size: 20px;
  color: #00AE99;
  margin-bottom: 25px;
}

.section-spalten p {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.spalte-left{
  background-color: #003831;
  padding: 70px 30px 70px 30px;
  text-align: center;
}

.spalte-left:hover{
  background-color: #002D28;
}

.spalte-right{
  background-color: #003831;
  padding: 70px 30px 70px 30px;
  text-align: center;
}

.spalte-right:hover{
  background-color: #002D28;
}

/* 4 Spalten */
.portfolio-single-positions {
margin: 0 -15px -15px -15px;
}

.spalten {
  float: left;
}

.spalte{
  background-color: #003831;
  padding: 70px 30px 70px 30px;
  margin: 15px 0;
}

.spalte:hover{
  background-color: #002D28;
}

.spalte h2{
  font-size: 30px;
  color: #ffffff;
}

.spalte p{
  font-size: 20px;
  color: #ffffff;
}

.small-title {
  text-transform: uppercase;
  font-size: 15px !important;
}

.td-title {
  width: 30%;
}

.td-data {
  width: 70%;
  text-align: right;
}


/* Buttons */

.btn {
}

.btn a{
  margin: auto 0px;
}

.btn-primary {
  border: 1px solid #00AE99;
  border-radius: 0px;
  background: #00AE99;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.btn-primary:hover {
  border: 1px solid #04BEA8;
  border-radius: 0px;
  background: #04BEA8;
  font-size: 20px;
}

.btn-primary:active {
  background: #04BEA8 !important;
  border: 1px solid #04BEA8;
  border-radius: 0px;
}

.btn-outline-info {
  border: 1px solid #00AE99;
  border-radius: 0px;
  font-size: 20px;
  color: #00AE99;
}

.btn-outline-info:hover {
  border: 1px solid #04BEA8;
  border-radius: 0px;
  font-size: 20px;
  color: #ffffff;
  background: #04BEA8;
}

.btn-outline-info:active {
  background: #04BEA8 !important;
  border: 1px solid #04BEA8;
  border-radius: 0px;
}

/* Modal */

.modal-content {
  background: rgb(17, 26, 25);
  padding: 30px 30px 30px 30px;
  border: none;
  border-radius: 10px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}


/* Responsive (Tablet) */
@media screen and (max-width: 1200px) {
  .content-section {
    padding: 20px 20px 20px 20px;
    border: none;
    margin: 90px 20px 30px 20px;
    }

  .navbar {
    padding: 20px 20px 20px 20px;
    }

  .logo_img {
    height: 25px;
    }
}


  /* Responsive (Handy) */
@media screen and (max-width: 768px) {
  .navbar-nav .btn {
    margin-left: 0px;
    margin-top: 10px;
    }

  .spalte-right{
    margin-top:30px;
    }
}